@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'open_sansregular';
}
@font-face {
    font-family: 'berkshire_swashregular';
    src: url('berkshireswash-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h2 {
	font-family: 'berkshire_swashregular';
}

h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

p {
	font-family: 'Anton', sans-serif;
	font-weight: 400;
}